# API Keys
DEEPSEEK_KEY_1=kunci_api_deepseek_1_anda
DEEPSEEK_KEY_2=kunci_api_deepseek_2_anda
GEMINI_KEY_1=kunci_api_gemini_1_anda
GEMINI_KEY_2=kunci_api_gemini_2_anda

# Server
HOST=0.0.0.0
PORT=8000

# Backend URL (used by clients/frontends)
BACKEND_URL="https://aluminum-horses-element-keith.trycloudflare.com"
